* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2c126b;
    --secondary-color: #c308db;
    --tertiary-color: #757575;
    --quaternary-color: #f5f5f5;
}

body {
    background-color: var(--quaternary-color);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
header nav {
    padding: 10px 30px 0 0;
    z-index: 99;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li {
    color: black;
    font-size: 1.5vw;
}

#view-hs {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#view-hs:hover {
    color: var(--tertiary-color);
}

.invisible {
    display: none;
}

.title-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary-color);
    height: 100vh;
    width: 100vw;
}

.title-container {
    z-index: 0;
}

.title-container h1 {
    text-align: center;
    font-size: 4.2vw;
    color: black;
    margin: 100px 0 10px 0;
    text-shadow: 1px 1px 2px var(--tertiary-color);
}

.title-container p {
    text-align: center;
    font-size: 2vw;
    color: black;
    padding: 0 175px;
    margin: 0 0 20px 0;
} 

.start-quiz {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.start-btn {
    position: absolute;
    font-size: 2.5vw;
    padding: 1vw 2.5vw;
    border-radius: 8px;
    color: var(--quaternary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}

.question-container,
.complete-container,
.score-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary-color);
    height: 100vh;
    width: 100vw;
    padding: 5vh 15vw 0 15vw;
}

.question-container {
    z-index: -1;
}

.complete-container {
    z-index: -2;
}

.score-container {
    z-index: -3;
}

.question-ask,
.complete,
.high-score-statement {
    font-size: 4vw;
    font-weight: 700;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    background: var(--primary-color);
    border-radius: 8px;
    color: var(--quaternary-color);
    font-size: 2vw;
    margin: 1vw 0;
    padding: 1vw 0 1vw 2vw;
    width: fit-content;
    min-width: 30%;
    max-width: 65%;
    cursor: pointer;
}

.selection-list {
    padding: 0 0 0 0.5vw;
}

.wrong-right {
    border-top: 3px solid var(--tertiary-color); 
    margin: 2vw 0 10vw 0;
    padding: 1vw 0 1vw 2vw;
    font-size: 2vw;
    font-style: italic;
    color: var(--tertiary-color);
}

.final-statement,
.initials-box,
.high-score-list {
    font-size: 2.5vw;
    font-weight: normal;
}

.initials-box form {
    display: flex;
    box-sizing: border-box;
    
}

.initials-box form input {
    height: 3vw;
    width: 300px;
    border: 1px solid black;
    font-size: 2vw;
    margin: 0 0 0 15px;
}

.initials-box form button {
    color: var(--quaternary-color);
    background-color: var(--primary-color);
    font-size: 2vw;
    padding: 0.5vw 2.5vw;
    border-radius: 5px;
    margin: 0 0 0 15px;
    cursor: pointer;
}

.high-score-statement {
    margin: 0 0 1.5vw 0;
}

.high-score-list {
    background-color: rgba(76, 78, 175, 0.3);
    margin: 0 30vw 1.5vw 0;
    padding: 0 0 0 1vw;
}

#clear-scores, #go-back {
    color: var(--quaternary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5px;
    font-size: 2.5vw;
    padding: 0.5vw 2vw;
    cursor: pointer;
}

.start-btn:hover,
.selection:hover,
.initials-box form button:hover,
#clear-scores:hover,
#go-back:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

